/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(/images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --accent-color: #353430;
  --text-bg-color: #FF8DCB;
  --shadow-color: #FF8DCB;
  --text-accent-color: #353430;
  --main-text-color: #353430;
  --title-color: #FFC2E6;
  --nav-hover-color: rgb(50 49 50/ 0.4);
  --display-rec: none;
}
@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url(/images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --accent-color: #353430;
  --text-bg-color: #FF8DCB;
  --shadow-color: #FF8DCB;
  --text-accent-color: #353430;
  --main-text-color: #353430;
  --title-color: #FFC2E6;
  --nav-hover-color: rgb(50 49 50/ 0.4);
  --display-rec: none;
}
}